/*****0*General styling*****/

// Variables
//Primary Colors
$primaryBackgroundColor: #000;
$primaryAccent: #083d8c;

//Secondary Colors



body {
    background-color: $primaryBackgroundColor;
    display: flex;
}





